[credentials]
api_key = {{ nginx_amplify_agent_api_key }}
hostname = {{ nginx_amplify_agent_hostname }}
uuid = {{ nginx_amplify_agent_uuid }}
imagename = {{ nginx_amplify_agent_imagename }}

[nginx]
user = {{ nginx_amplify_agent_user }}
configfile = {{ nginx_amplify_agent_configfile }}
{% if nginx_amplify_agent_stub_status is defined %}
stub_status = {{ nginx_amplify_agent_stub_status }}
{% endif %}
{% if nginx_amplify_agent_plus_status is defined %}
plus_status = {{ nginx_amplify_agent_plus_status }}
{% endif %}
{% if nginx_amplify_agent_exclude_logs is defined %}
exclude_logs = {{ nginx_amplify_agent_exclude_logs }}
{% endif %}

[proxies]
{% if nginx_amplify_agent_https is defined %}
https =  {{ nginx_amplify_agent_https }}
{% endif %}

[cloud]
api_url = {{ nginx_amplify_agent_api_url }}
api_timeout = {{ nginx_amplify_agent_api_timeout }}

[extensions]
phpfpm = {{ nginx_amplify_agent_phpfpm }}
mysql = {{ nginx_amplify_agent_mysql }}

{% if nginx_amplify_agent_mysql %}
[mysql]
host = {{ nginx_amplify_agent_mysql_host }}
port = {{ nginx_amplify_agent_mysql_port }}
unix_socket = {{ nginx_amplify_agent_mysql_unix_socket }}
user = {{ nginx_amplify_agent_mysql_user }}
password = {{ nginx_amplify_agent_mysql_password }}
{% endif %}

[listeners]
keys = {{ nginx_amplify_agent_listers_keys }}

[listener_syslog-default]
address = {{ nginx_amplify_agent_listener_syslog_default_address }}

[loggers]
keys = {{ nginx_amplify_agent_loggers_keys }}

[handlers]
keys = {{ nginx_amplify_agent_handlers_keys }}

[formatters]
keys = {{ nginx_amplify_agent_formatters_keys }}

[formatter_simpleFormatter]
format = {{ nginx_amplify_agent_formatter_simpleFormatter_format }}
datefmt = {{ nginx_amplify_agent_formatter_simpleFormatter_datefmt }}

[logger_devnull]
level = {{ nginx_amplify_agent_logger_devnull_level }}
qualname = {{ nginx_amplify_agent_logger_devnull_qualname }}
handlers = {{ nginx_amplify_agent_logger_devnull_handlers }}
formatter = {{ nginx_amplify_agent_logger_devnull_formatter }}
propagate = {{ nginx_amplify_agent_logger_devnull_propagate }}

[handler_devnull]
class = {{ nginx_amplify_agent_handler_devnull_class }}
level = {{ nginx_amplify_agent_handler_devnull_level }}
formatter = {{ nginx_amplify_agent_handler_devnull_formatter }}
args = {{ nginx_amplify_agent_handler_devnull_args }}

[logger_root]
level = {{ nginx_amplify_agent_logger_root_level }}
handlers = {{ nginx_amplify_agent_logger_root_handlers }}
qualname = {{ nginx_amplify_agent_logger_root_qualname }}
formatter = {{ nginx_amplify_agent_logger_root_formatter }}
propagate = {{ nginx_amplify_agent_logger_root_propagate }}

[handler_root]
class = {{ nginx_amplify_agent_handler_root_class }}
level = {{ nginx_amplify_agent_handler_root_level }}
formatter = {{ nginx_amplify_agent_handler_root_formatter }}
args = {{ nginx_amplify_agent_handler_root_args }}

[logger_agent-default]
level = {{ nginx_amplify_agent_logger_agent_default_level }}
qualname = {{ nginx_amplify_agent_logger_agent_default_qualname }}
handlers = {{ nginx_amplify_agent_logger_agent_default_handlers }}
formatter = {{ nginx_amplify_agent_logger_agent_default_formatter }}
propagate = {{nginx_amplify_agent_logger_agent_default_propagate }}

[handler_agent-default]
class = {{ nginx_amplify_agent_handler_agent_default_class }}
level = {{ nginx_amplify_agent_handler_agent_default_level }}
formatter = {{ nginx_amplify_agent_handler_agent_default_formatter}}
args = {{ nginx_amplify_agent_handler_agent_default_args }}